// Size Dimensions
// $site-width: 1280px;
$site-width: 1280vw;
$site-height: 800px;
// $site-height: 800vh;

// Colors
$eerieBlack: #1c2321;
$cadetGray: #a7b9bf;
$payneGray: #5e6572;
$powderBlue: #a9b4c2;
$anti-FlashWhite: #eef1ef;

// Font Size
$h1-section: clamp(3.125rem, 6vw, 6.25rem);
