nav {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  // max-width: $site-width;
  // max-width: 100%;
  min-height: 63px;
  margin: 0 auto;
  text-transform: uppercase;
  background-color: $eerieBlack;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 18px;
  color: $powderBlue;
  z-index: 5;
  a {
    color: $powderBlue;
    text-decoration: none;
    font-weight: 520;
    margin-right: 52px;
    transition-duration: 0.3s;
  }
  a:hover {
    text-decoration: underline;
    color: $anti-FlashWhite;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // Hide Links
  }
  p {
    margin: 0;
  }
  i {
    font-size: 26px;
    &:hover {
      color: $anti-FlashWhite;
    }
    &:active {
      color: $eerieBlack;
      background-color: $anti-FlashWhite;
    }
  }
}
@media screen and (min-width: 1280px) {
  nav {
    // max-width: 100%;
    max-width: 1280vw;
  }
  // @media screen and (min-width: 800px) {
  //   .links {
  //     // margin-right: 0;
  //   }
  // }
}
@media screen and (max-width: 575px) {
  nav {
    .links {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 15px;
      // display: none;
      a {
        margin-top: 15px;
      }
    }
  }
}
