.websitePrevPic {
  // height: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 0.5s;
  width: 400px;
  margin-right: 10px;
  border-radius: 15px;
  box-shadow: 11px 11px 8px 5px rgba(0, 0, 0, 0.75);
}
.oldPortfolioPic {
  background-image: url(../img/websitePics/porfolio_preview.png);
}
.eventsyPic {
  background-image: url(../img/websitePics/Eventsy_Preview.png);
  background-position: left;
}
.dancepunkPic {
  background-image: url(../img/websitePics/Ecommerce_Preview.png);
  background-position: top;
}
.qrCardPic {
  background-image: url(../img/websitePics/QR_Card_Preview.png);
}
.blogPic {
  background-image: url(../img/websitePics/Blog_Preview.png);
}
.booknookPic {
  background-image: url(../img/websitePics/Booknook_Preview.png);
}
.jungleCookPic {
  background-image: url(../img/websitePics/Jungle_Cook_Preview.png);
  background-position: left;
}
.webDevConPic {
  background-image: url(../img/websitePics/WebDev_Conference_Preview.png);
  background-position: left;
}
.coffeePic {
  background-image: url(../img/websitePics/Coffee_Maker_Preview.png);
}
.soapFactoryPic {
  background-image: url(../img/websitePics/soap_factory_preview.png);
  background-position: 0;
}
.sweetPic {
  background-image: url(../img/websitePics/sweet_io_preview.png);
  background-position: -25px;
}
