#Work-Section {
  background-color: $eerieBlack;
  min-height: $site-height;
  max-width: $site-width;
}
.WorkTitle {
  h1 {
    padding-top: 30px;
    font-family: FuturaBook;
    font-size: 110px;
    text-transform: uppercase;
    color: $anti-FlashWhite;
    text-align: center;
  }
  hr {
    border-style: none;
    height: 11px;
    background-color: $cadetGray;
  }
}
.websiteSection {
  // max-width: 1280px;
  // max-width: 100%;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: space-between;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  padding: 0 25px;
}
.websitePrevBox {
  // height: 100%;
  min-height: 400px;
  // max-width: 1000px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.projectText {
  // background-color: gold;
  width: 400px;
  // height: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  h2 {
    // color: $cadetGray;
    // color: $cadetBlue;
    // color: $payneGray;
    color: $anti-FlashWhite;
    font-size: 45px;
    text-align: center;
  }
  p {
    font-size: 24px;
    // color: $payneGray;
    // color: $cadetGray;
    color: $powderBlue;
    // font-family: FuturaMedium;
    font-family: FuturaBook;
  }
  .descText {
    font-size: 18px;
  }
}

// Media Queries
@media screen and (max-width: 1690px) {
  .websitePrevBox {
    &:nth-last-child(1) {
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 1280px) {
  .WorkTitle {
    h1 {
      // font-size: 110px;
      font-size: 6.875vw;
    }
  }
  @media screen and (max-width: 800px) {
    .WorkTitle {
      h1 {
        // font-size: 50px;
        font-size: 3.125rem;
      }
    }
  }
  @media screen and (max-width: 540px) {
    .websiteSection {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 600px;
      margin-top: 40px;
      .websitePrevBox {
        width: 100%;
        // height: 50%;
        margin-bottom: 15px;
      }
    }
    .aboutSite-Text {
      h2 {
        font-size: 32px;
      }
    }
  }
}
